<a href="https://colab.research.google.com/github/javierarteagapuell/deeplearning/blob/main/Ejercicio3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
data = pd.read_csv('banco ufv.csv', encoding='latin-1', sep=';')
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [44]:
data.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [45]:
data.isnull().values.any() # Este código nos devolverá True si hay algún valor NaN en nuestro DataFrame.

False

In [ ]:
#HAY VALORES ATÍPICOS

#np.unique(arr, return_counts=True)

In [46]:
data=data.drop(['job','marital','default','housing','loan','contact','day','month','campaign','pdays','previous','poutcome','y'], axis=1)
data.head()
# NOS QUEDAMOS CON: age (años), education (educación), balance (saldo) y duration (días como cliente)

   age  education  balance  duration
0   58   tertiary     2143       261
1   44  secondary       29       151
2   33  secondary        2        76
3   47    unknown     1506        92
4   33    unknown        1       198

In [47]:
#COLUMNAS CON LAS QUE NOS HEMOS QUESADO
data.columns

Index(['age', 'education', 'balance', 'duration'], dtype='object')

In [48]:
#PASAR LA VARIBALE EDUCATION DE CATEGÓRICA A NUMÉRICA

education=pd.get_dummies(data["education"])
education

       primary  secondary  tertiary  unknown
0            0          0         1        0
1            0          1         0        0
2            0          1         0        0
3            0          0         0        1
4            0          0         0        1
...        ...        ...       ...      ...
45206        0          0         1        0
45207        1          0         0        0
45208        0          1         0        0
45209        0          1         0        0
45210        0          1         0        0

[45211 rows x 4 columns]

In [ ]:
¿education con balance?

Hacer una transformación:
Alumnos hasta  30  años.  Trabajadores  jóvenes 
  30  a 45  años,  trabajadores  veteranos de  46  a 65  y el  resto  serán  clientes  no 
vinculados a la Universidad. Obten un gráfico donde podamos ver como se distribuye cada clase. Interpreta 
los datos.

In [ ]:
age<30=“Alumnos” y 30>age>45=”Trabajadores Jovenes” y age >45=”Trabajadores Veteranos”

Pasamos el tiempo que llevan los clientes de esta empresa de días a años

In [ ]:
duration=duration/365