<a href="https://colab.research.google.com/github/javierarteagapuell/deeplearning/blob/main/Ejercicio3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
data = pd.read_csv('pokemon.csv', encoding='UTF-8')
data.head()

,Pokémon,Tipo,PS,Ataque,Defensa,Ataque especial,Defensa especial,Velocidad
0,TYPHLOSION,Fuego,2,3,2,4,2,4
1,PONYTA,Fuego,2,3,2,2,2,3
2,TORKOAL,Fuego,2,3,4,3,2,1
3,ARCANINE,Fuego,3,5,3,4,3,4
4,STARMIE,Agua,2,3,3,4,2,4

In [37]:
data.columns

Index(['Pokémon', 'Tipo', 'PS', 'Ataque', 'Defensa', 'Ataque especial',
       'Defensa especial', 'Velocidad'],
      dtype='object')

In [38]:
data.isnull().values.any() # Este código nos devolverá True si hay algún valor NaN en nuestro DataFrame.

False

In [39]:
data = data.drop(['Pokémon','Tipo'], axis=1)
data

    PS  Ataque  Defensa  Ataque especial  Defensa especial  Velocidad
0    2       3        2                4                 2          4
1    2       3        2                2                 2          3
2    2       3        4                3                 2          1
3    3       5        3                4                 3          4
4    2       3        3                4                 2          4
5    3       4        3                5                 3          4
6    3       2        2                4                 3          3
7    3       2        2                2                 2          2
8    2       4        4                2                 2          3
9    3       3        2                3                 2          2
10   1       1        2                2                 1          1
11   2       4        2                2                 2          3
12   2       2        2                4                 3          5
13   2       3        3                5                 2          2
14   1       2        1                2                 1          3
15   3       3        3                5                 4          3
16   1       3        4                2                 4          2
17   4       4        3                4                 3          3
18   2       3        3                3                 3          1
19   2       2        2                5                 2          4

In [40]:
print('----------------------')
print('Media de cada variable')
print('----------------------')
data.mean(axis=0)

----------------------
Media de cada variable
----------------------

PS                  2.25
Ataque              2.95
Defensa             2.60
Ataque especial     3.35
Defensa especial    2.40
Velocidad           2.85
dtype: float64

In [41]:
print('-------------------------')
print('Varianza de cada variable')
print('-------------------------')
data.var(axis=0)

-------------------------
Varianza de cada variable
-------------------------

PS                  0.618421
Ataque              0.892105
Defensa             0.673684
Ataque especial     1.397368
Defensa especial    0.673684
Velocidad           1.292105
dtype: float64

In [42]:
from sklearn.preprocessing import StandardScaler

ss = StandardScaler()
data_transformed = ss.fit_transform(data)
data_transformed

array([[-0.32616404,  0.05431254, -0.75      ,  0.56415195, -0.5       ,
         1.03797547],
       [-0.32616404,  0.05431254, -0.75      , -1.1717002 , -0.5       ,
         0.1353881 ],
       [-0.32616404,  0.05431254,  1.75      , -0.30377413, -0.5       ,
        -1.66978662],
       [ 0.97849211,  2.22681433,  0.5       ,  0.56415195,  0.75      ,
         1.03797547],
       [-0.32616404,  0.05431254,  0.5       ,  0.56415195, -0.5       ,
         1.03797547],
       [ 0.97849211,  1.14056344,  0.5       ,  1.43207802,  0.75      ,
         1.03797547],
       [ 0.97849211, -1.03193835, -0.75      ,  0.56415195,  0.75      ,
         0.1353881 ],
       [ 0.97849211, -1.03193835, -0.75      , -1.1717002 , -0.5       ,
        -0.76719926],
       [-0.32616404,  1.14056344,  1.75      , -1.1717002 , -0.5       ,
         0.1353881 ],
       [ 0.97849211,  0.05431254, -0.75      , -0.30377413, -0.5       ,
        -0.76719926],
       [-1.63082018, -2.11818924, -0.75      , -1.1717002 , -1.75      ,
        -1.66978662],
       [-0.32616404,  1.14056344, -0.75      , -1.1717002 , -0.5       ,
         0.1353881 ],
       [-0.32616404, -1.03193835, -0.75      ,  0.56415195,  0.75      ,
         1.94056283],
       [-0.32616404,  0.05431254,  0.5       ,  1.43207802, -0.5       ,
        -0.76719926],
       [-1.63082018, -1.03193835, -2.        , -1.1717002 , -1.75      ,
         0.1353881 ],
       [ 0.97849211,  0.05431254,  0.5       ,  1.43207802,  2.        ,
         0.1353881 ],
       [-1.63082018,  0.05431254,  1.75      , -1.1717002 ,  2.        ,
        -0.76719926],
       [ 2.28314826,  1.14056344,  0.5       ,  0.56415195,  0.75      ,
         0.1353881 ],
       [-0.32616404,  0.05431254,  0.5       , -0.30377413,  0.75      ,
        -1.66978662],
       [-0.32616404, -1.03193835, -0.75      ,  1.43207802, -0.5       ,
         1.03797547]])

Primero  obtenemos  la  matriz  de  covarianza  mediante  el  método  cov  de 
numpy

In [43]:
np.cov(data, y=None, rowvar=True, bias=False, ddof=None, fweights=None, aweights=None)

array([[ 0.96666667,  0.26666667, -0.3       ,  0.53333333,  0.8       ,
         0.73333333,  0.36666667, -0.16666667, -0.03333333,  0.1       ,
         0.06666667,  0.3       ,  1.        ,  0.56666667,  0.73333333,
         0.3       , -0.46666667,  0.1       , -0.3       ,  1.16666667],
       [ 0.26666667,  0.26666667, -0.2       ,  0.33333333,  0.2       ,
         0.13333333, -0.13333333, -0.06666667,  0.26666667,  0.        ,
        -0.13333333,  0.4       ,  0.2       , -0.13333333,  0.33333333,
        -0.2       , -0.06666667,  0.        , -0.2       ,  0.06666667],
       [-0.3       , -0.2       ,  1.1       ,  0.        ,  0.        ,
         0.        , -0.3       , -0.1       ,  0.5       ,  0.1       ,
         0.4       , -0.1       , -0.8       ,  0.7       , -0.4       ,
         0.1       ,  0.6       ,  0.1       ,  0.7       , -0.3       ],
       [ 0.53333333,  0.33333333,  0.        ,  0.66666667,  0.4       ,
         0.46666667, -0.06666667, -0.13333333,  0.33333333,  0.2       ,
        -0.06666667,  0.6       ,  0.2       ,  0.33333333,  0.46666667,
         0.        , -0.13333333,  0.2       ,  0.        ,  0.33333333],
       [ 0.8       ,  0.2       ,  0.        ,  0.4       ,  0.8       ,
         0.6       ,  0.2       , -0.2       ,  0.2       ,  0.        ,
         0.2       ,  0.2       ,  0.8       ,  0.6       ,  0.6       ,
         0.2       , -0.2       ,  0.        , -0.2       ,  1.        ],
       [ 0.73333333,  0.13333333,  0.        ,  0.46666667,  0.6       ,
         0.66666667,  0.33333333, -0.13333333, -0.06666667,  0.2       ,
         0.13333333,  0.2       ,  0.6       ,  0.73333333,  0.46666667,
         0.4       , -0.33333333,  0.2       ,  0.        ,  0.93333333],
       [ 0.36666667, -0.13333333, -0.3       , -0.06666667,  0.2       ,
         0.33333333,  0.56666667,  0.03333333, -0.63333333,  0.1       ,
         0.06666667, -0.3       ,  0.6       ,  0.36666667,  0.13333333,
         0.5       , -0.46666667,  0.1       , -0.1       ,  0.76666667],
       [-0.16666667, -0.06666667, -0.1       , -0.13333333, -0.2       ,
        -0.13333333,  0.03333333,  0.16666667, -0.16666667,  0.1       ,
        -0.06666667, -0.1       , -0.2       , -0.16666667, -0.13333333,
        -0.1       , -0.33333333,  0.1       , -0.1       , -0.16666667],
       [-0.03333333,  0.26666667,  0.5       ,  0.33333333,  0.2       ,
        -0.06666667, -0.63333333, -0.16666667,  0.96666667, -0.1       ,
         0.06666667,  0.5       , -0.4       , -0.03333333,  0.13333333,
        -0.5       ,  0.53333333, -0.1       ,  0.1       , -0.43333333],
       [ 0.1       ,  0.        ,  0.1       ,  0.2       ,  0.        ,
         0.2       ,  0.1       ,  0.1       , -0.1       ,  0.3       ,
         0.        ,  0.1       , -0.2       ,  0.3       ,  0.        ,
         0.1       , -0.4       ,  0.3       ,  0.1       ,  0.1       ],
       [ 0.06666667, -0.13333333,  0.4       , -0.06666667,  0.2       ,
         0.13333333,  0.06666667, -0.06666667,  0.06666667,  0.        ,
         0.26666667, -0.2       ,  0.        ,  0.46666667, -0.06666667,
         0.2       ,  0.13333333,  0.        ,  0.2       ,  0.26666667],
       [ 0.3       ,  0.4       , -0.1       ,  0.6       ,  0.2       ,
         0.2       , -0.3       , -0.1       ,  0.5       ,  0.1       ,
        -0.2       ,  0.7       ,  0.        , -0.1       ,  0.4       ,
        -0.3       ,  0.        ,  0.1       , -0.1       , -0.1       ],
       [ 1.        ,  0.2       , -0.8       ,  0.2       ,  0.8       ,
         0.6       ,  0.6       , -0.2       , -0.4       , -0.2       ,
         0.        ,  0.        ,  1.6       ,  0.2       ,  0.8       ,
         0.4       , -0.4       , -0.2       , -0.6       ,  1.4       ],
       [ 0.56666667, -0.13333333,  0.7       ,  0.33333333,  0.6       ,
         0.73333333,  0.36666667, -0.16666667, -0.03333333,  0.3       ,
         0.46666667, -0.1       ,  0.2       ,  1.36666667,  0.13333333,
         0.7       , -0.06666667,  0.3       ,  0.5       ,  0.96666667],
       [ 0.73333333,  0.33333333, -0.4       ,  0.46666667,  0.6       ,
         0.46666667,  0.13333333, -0.13333333,  0.13333333,  0.        ,
        -0.06666667,  0.4       ,  0.8       ,  0.13333333,  0.66666667,
         0.        , -0.33333333,  0.        , -0.4       ,  0.73333333],
       [ 0.3       , -0.2       ,  0.1       ,  0.        ,  0.2       ,
         0.4       ,  0.5       , -0.1       , -0.5       ,  0.1       ,
         0.2       , -0.3       ,  0.4       ,  0.7       ,  0.        ,
         0.7       ,  0.        ,  0.1       ,  0.3       ,  0.7       ],
       [-0.46666667, -0.06666667,  0.6       , -0.13333333, -0.2       ,
        -0.33333333, -0.46666667, -0.33333333,  0.53333333, -0.4       ,
         0.13333333,  0.        , -0.4       , -0.06666667, -0.33333333,
         0.        ,  1.46666667, -0.4       ,  0.6       , -0.66666667],
       [ 0.1       ,  0.        ,  0.1       ,  0.2       ,  0.        ,
         0.2       ,  0.1       ,  0.1       , -0.1       ,  0.3       ,
         0.        ,  0.1       , -0.2       ,  0.3       ,  0.        ,
         0.1       , -0.4       ,  0.3       ,  0.1       ,  0.1       ],
       [-0.3       , -0.2       ,  0.7       ,  0.        , -0.2       ,
         0.        , -0.1       , -0.1       ,  0.1       ,  0.1       ,
         0.2       , -0.1       , -0.6       ,  0.5       , -0.4       ,
         0.3       ,  0.6       ,  0.1       ,  0.7       , -0.3       ],
       [ 1.16666667,  0.06666667, -0.3       ,  0.33333333,  1.        ,
         0.93333333,  0.76666667, -0.16666667, -0.43333333,  0.1       ,
         0.26666667, -0.1       ,  1.4       ,  0.96666667,  0.73333333,
         0.7       , -0.66666667,  0.1       , -0.3       ,  1.76666667]])

A partir de los datos anteriores, obtener los autovalores (eigenvalues) y los 
autovectores (eigenvectors). Para eso aplicamos a dicha matriz (data) el método linalg.eig también de numpy

In [44]:
autovalores, autovectores = np.linalg.eig(data)
print("Autovalores: ", autovalores)
print("Autovectores: ", autovectores)

LinAlgError: ignored