<a href="https://colab.research.google.com/github/javierarteagapuell/deeplearning/blob/main/Practica3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

https://www.kaggle.com/datasets/igmoncan/hoteles-en-valencia?resource=download&select=valenciahoteles.csv

In [86]:
data = pd.read_csv('valenciahoteles.csv', encoding='latin-1')
data=data.drop(['Nombre', 'Distrito', 'Fecha', 'Dirección', 'CP', 'lat', 'long'], axis=1)
data

      Valoración  Número de comentarios  Precio
0            7.9                    767    38.0
1            8.0                    206    37.0
2            7.4                   1458    27.5
3            8.8                   1009    79.0
4            8.1                   3441    84.0
...          ...                    ...     ...
3954         8.5                    261   105.5
3955         8.8                   1299   228.0
3956         8.7                    725   102.0
3957         8.7                    393   349.0
3958         8.9                    845   394.0

[3959 rows x 3 columns]

In [137]:
train_data=data
test_data=data
train_targets=data
test_targets=data

#(train_data, train_targets), (test_data, test_targets) =  data

In [138]:
train_data.shape

(3959, 3)

In [139]:
test_data.shape

(3959, 3)

In [140]:
train_targets.shape

(3959, 3)

In [141]:
test_targets.shape

(3959, 3)

In [142]:
#train_data[3450]

In [143]:
# Los 3959 precios medios de los datos de test en miles de $
#test_targets

In [144]:
# 1. Separamos los datos de entrenamiento con los datos de test
train_data = train_data[:3000]
test_data = train_data[3001:]
partial_train_targets = train_targets[:3000]
partial_eval_train_targets = train_targets[3001:]

In [145]:
# Normalizamos basándonos en las características
##############################################
# Calculamos la media del primer eje de los datos de entrenamiento
mean = train_data.mean(axis=0)
print("##### Media de las 13 características de los datos de entrenamiento ##### ")
print(mean)
# A los datos de entrenamiento le restamos la media
train_data -= mean

# Calculamos la desviación estandar del primer eje de los datos de entrenamiento
std = train_data.std(axis=0)
print("##### Desviación estandar de las 13 características de los datos de entrenamiento ##### ")
print(std)
# A los datos de entrenamiento los dividimos por la desviación estándar
train_data /= std
#print("##### Datos de entrenamiento normalizados para la primera casa ##### ")
#print(train_data[0])

# ¡¡IMPORTANTE!!: USAMOS LA MEDIA Y LA DESVIACIÓN ESTANDAR DE LOS DATOS DE 
# ENTRENAMIENTO PARA NORMALIZAR EL SET DE DATOS DE LOS DATOS DE TEST 
test_data -= mean
test_data /= std
#print("##### Datos de test normalizados (de la primera casa) con la media y la desviación estándar de los datos de entrenamiento ##### ")
#print(test_data[0])

##### Media de las 13 características de los datos de entrenamiento #####
Valoración                  8.3142
Número de comentarios    2199.2050
Precio                    140.2725
dtype: float64
##### Desviación estandar de las 13 características de los datos de entrenamiento #####
Valoración                  0.613860
Número de comentarios    2028.845690
Precio                     83.528309
dtype: float64

In [146]:
train_data.shape[1]

3

In [147]:
import tensorflow as tf
from keras import models
from keras import layers

def build_model():
    # Porque necesitaremos instanciar el mismo modelo 
    # múltiples veces, usamos una función para construirlo
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu',
                           input_shape=(train_data.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(1))
    # MSE: Mean Squared Error
    # MAE: Mean Absolute Error
    model.compile(optimizer='rmsprop', loss='mse', 
                  metrics=[tf.keras.metrics.MeanAbsoluteError()]) # metrics = ['mae']
    return model

In [148]:
# 2. Hacer aquí las particiones de los datos de entrenamiento
partial_train_data = train_data[:2500]
partial_eval_train_data = train_data[2501:]
partial_train_targets = train_targets[:2500]
partial_eval_train_targets = train_targets[2501:]

In [149]:
# 2. Entrenar el modelo con 25 épocas y un batch_size=1
mymodel = build_model()

In [150]:
history = mymodel.fit(partial_train_data, partial_train_targets,
            validation_data=(partial_eval_train_data, partial_eval_train_targets),
                        epochs=25, batch_size=1)

Epoch 1/25
2499/2500 [============================>.] - ETA: 0s - loss: 2314489.0000 - mean_absolute_error: 894.3857

ValueError: ignored

In [ ]:
mae_history = history.history['val_mean_absolute_error']

In [ ]:
mse_history = history.history['val_loss']